.burger-menu {
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 20;

  @include tablets {
    display: inline-block;
  }
}

.burger-menu__bar1, .burger-menu__bar2, .burger-menu__bar3 {
  width: 35px;
  height: 5px;
  background-color: $text-color;
  margin: 6px 0;
  transition: 0.4s;
}