.main-block {
  background: url('../images/background/balloon.png') center top no-repeat / cover;
  position: relative;
}

.second-block {
  padding-top: 12%;
  @include phones {
  padding: 90px 0;
  }
}