.main-block {
  position: relative;
  @include tablets {
    background: url('../images/background/balloon.png') center top no-repeat / cover;
  }
}

.second-block {
  padding-top: 12%;
  @include phones {
  padding: 90px 0;
  }
}