.menu {
  &__item {
      margin-right: 50px;
    
      &:last-child {
        margin-right: 0;
      }
    }
      
  &__link {
    text-decoration: none;
  }

  &__list {
    display: flex;
    justify-content: center;
  }
  }
  
  

