.triangles {
    position: relative;
  
    &_above {
      margin-top: -130px;
      height: 130px;
    }
  
    &_under {
      margin-bottom: -95px;
      height: 95px;
    }
  }
  
  .triangles__shape {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    fill: #fff;
  
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }