.wrapper{
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  background-size: cover;
  }

.container {
  @include phones {
    width:100%
    }
  }


.maincontent {
    background: url('../images/background/balloon.png') no-repeat center; 
    background-size: cover;
    }