.blocks-edit {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    @include tablets {
        grid-template-columns:1fr 1fr
    }
    @include phones {
        grid-template-columns: 1fr
        } 
    }