.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 22px 32px;
    background: #fff;
  }
  
  .card__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 30px 2%;
    border-bottom: 1px solid #1f232d;
  }
  
  .card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 2%;
  }