.input__error-tooltip-container {
  border-radius:80px;
  padding: 12px 10px;
  background: red;
  color: #fff;
  font-size: 14px;
  z-index: 100;
  white-space: nowrap;
  outline:none;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 50%;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: red;
    border-bottom-width: 5px;
    transform: translateX(-50%);
  }
}