.header {
    background: #44436c; 
    color: #fff; 
    padding: 20px 0; 
    }
.container-header {
    display: grid; 
    align-items: center;
    grid-template-columns: 1.25fr 1.25fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'profile-pic panel-name . exit'}

.panel-name {
    grid-area: panel-name; 
    color: rgba(255, 255, 255, 0.5); 
    font-size:14px;
    }