.profile-pic__username {
    font-size:18px; 
    font-weight:600;
    }

.profile-pic {
    grid-area: profile-pic; 
    font-weight: bold; 
    display: flex; 
    align-items: center;
    }

.profile-pic__photo{
    height: 45px; 
    width: 45px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 10px; 
    flex-shrink: 0;}

.profile-photo{
    max-width: 100%;
    }