.skills-title-container {
  &.blocked {
    opacity: 0.5;
    pointer-events: none;
  }
}

.skills-card-title {
  display: flex;
  justify-content: space-between;
}

.skills-card-title__buttons {
  display: flex;
}

.skills-card-title__input{
  width: 58%;
}