.skill-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include phones {
      margin-left: 0;
    }
  }
  
  .skill-list__item {
    width: calc(50% - 28px);
    margin-bottom: 28px;
    margin-left: 28px;
  
    &.loading {
      opacity: 0.5;
      pointer-events: none;
      filter: grayscale(100%);
    }
  
    @include phones {
      width: 100%;
      margin-left: 0;
      margin-bottom: 14px;
    }
  }
  
  .skill-list__table {
    margin-bottom: 42px;
  }