.user {
    display: flex;
  }
  
  .user__avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
  }
  
  .user__fullname {
    font-weight: 600;
    font-size: 18px;
  }
  
  .user__position {
    font-weight: 600;
    color: #404c62;
    opacity: 0.5;
  }
  
  .user__avatar-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }