@media screen and (max-width: 1200px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; } }

body,
html {
  height: 100%; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #414c63;
  margin: 0; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1480px;
  width: 90%; }
  @media screen and (max-width: 480px) {
    .container {
      width: 85%; } }

.fullscreen-section {
  height: 100vh;
  min-height: 650px; }

button {
  border: 0;
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

button[type="button"] {
  cursor: pointer;
  background-color: transparent; }

a {
  color: inherit;
  cursor: pointer; }

img {
  display: block;
  max-width: 100%; }

.achievements {
  width: 100%; }
  .achievements__container {
    position: relative; }
    .achievements__container:before {
      content: "";
      position: absolute;
      display: block;
      background: url("/src/images/content/bag.png") left bottom/contain no-repeat;
      height: 73%;
      bottom: 10%;
      width: 71%;
      left: -12%; }
  .achievements__message {
    color: #414c63;
    line-height: 1.8;
    font-weight: 700;
    opacity: .5;
    margin-bottom: 50px; }
  .achievements__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .achievements__skills-container {
    width: 65%; }
  .achievements__text {
    width: 42%;
    margin: 0 31%; }
  .achievements__welcome {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px; }
  .achievements__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.feedback {
  background: url("/src/images/background/Budda.png") center top no-repeat/cover;
  padding-top: 230px;
  padding-bottom: 100px; }
  .feedback__about {
    margin-bottom: 190px; }
  .feedback__container {
    padding-right: 25%; }
  .feedback__form {
    width: 100%; }
  .feedback__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 70px; }

.field__item-name {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700; }

.footer {
  background: #232733;
  color: #fff;
  padding: 75px 0;
  line-height: 1.8; }
  .footer__authorship {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%; }
  .footer__authorship_information {
    width: 40%;
    padding-top: 15px; }
  .footer__authorship_name {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 34px;
    margin-bottom: 23px; }
  .footer__authorship_text {
    color: #fff;
    opacity: .2; }
  .footer__authorship_trademark {
    -webkit-box-flex: 0.9;
    -ms-flex: 0.9;
    flex: 0.9; }
  .footer__authorship_year {
    color: #fff;
    opacity: .2;
    font-size: 48px;
    font-weight: 700; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__information {
    width: 65%;
    padding-top: 15px; }
  .footer__information_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__information_left {
    width: 45%; }
  .footer__information_right {
    width: 45%; }
  .footer__information_text {
    color: #fff;
    opacity: .2;
    margin-bottom: 40px; }
  .footer__menu {
    margin-bottom: 60px; }
    .footer__menu .menu__list {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }

.form__field {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #414c63;
  margin-right: 55px;
  font-weight: 600; }
  .form__field__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form__field__icon {
    width: 30px;
    height: 30px;
    opacity: .5;
    margin-right: 10px; }
  .form__field__input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: none;
    resize: none;
    line-height: 1;
    color: #414c63; }
    .form__field__input::-webkit-input-placeholder {
      color: #414c63;
      font-size: 18px;
      font-weight: bold; }
    .form__field__input:-ms-input-placeholder {
      color: #414c63;
      font-size: 18px;
      font-weight: bold; }
    .form__field__input::-ms-input-placeholder {
      color: #414c63;
      font-size: 18px;
      font-weight: bold; }
    .form__field__input::placeholder {
      color: #414c63;
      font-size: 18px;
      font-weight: bold; }
    .form__field__input:focus {
      outline: none; }
  .form__field__text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    resize: none; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

.form-button {
  background: url("/src/images/content/button.png") center center/contain no-repeat;
  padding: 23px 60px;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  outline: none;
  cursor: pointer; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 135px; }
  .header__logo {
    width: 10%; }
  .header__menu {
    width: 60%; }
  .header__socials {
    width: 20%; }

.info {
  position: relative; }
  .info__additional {
    font-style: italic;
    opacity: .5;
    margin-bottom: 40px; }
  .info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 170px 250px 270px; }
  .info__hello {
    font-weight: 700;
    opacity: .5;
    margin-bottom: 15px; }
  .info__me_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #414c63;
    width: 55%; }
  .info__name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #414c63; }
  .info__text {
    font-weight: 600;
    opacity: .5; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .links-item {
    font-size: 14px;
    font-weight: 600;
    color: #414c63;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px 20px; }
  .links-item:first-child {
    margin-left: 0; }

.loftschool-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .loftschool-review__avatar {
    margin-right: 25px; }
  .loftschool-review__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px; }
  .loftschool-review__photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden; }
  .loftschool-review__position {
    color: #414c63;
    opacity: 0.5;
    font-weight: 600; }

.logo {
  font-size: 32px;
  font-weight: 800;
  color: #414c63; }

.main-block {
  background: url("/src/images/background/balloon.png") center top no-repeat/cover;
  position: relative;
  margin-bottom: 100px; }

.me__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px; }

.me__table {
  font-size: 16px;
  font-weight: 600;
  width: 100%; }
  .me__table_name {
    font-weight: 600;
    opacity: .5; }
  .me__table td {
    padding-bottom: 15px; }

.menu__item {
  margin-right: 50px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  text-decoration: none; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.profile {
  position: relative;
  padding-top: 55px; }
  .profile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .profile__button {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 5%; }
  .profile__welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 250px;
    margin-bottom: 40%; }
  .profile_welcome__text {
    font-size: 18px;
    text-align: center;
    opacity: .4;
    font-weight: 600;
    margin-bottom: 20px; }
  .profile_welcome__username {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    line-height: 0.9; }

.scroll__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600; }
  .scroll__button:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("/src/images/content/scroll.png") center/contain no-repeat;
    margin-left: 20px; }

.projects:before {
  content: "4";
  display: block;
  position: absolute;
  font-size: 350px;
  opacity: .3;
  left: 58%;
  top: 52%; }

.projects__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 70px; }

.projects-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .projects-slider__button {
    width: 50px;
    height: 50px;
    background: #2f3e50;
    display: block;
    position: relative; }
    .projects-slider__button:before {
      content: "";
      display: block;
      background: url("/src/images/icons/arrow-down.png") center center/contain no-repeat;
      position: absolute;
      height: 10px;
      width: 10px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-360deg);
      -ms-transform: translate(-50%, -50%) rotate(-360deg);
      transform: translate(-50%, -50%) rotate(-360deg);
      opacity: .3; }
    .projects-slider__button:hover:before {
      opacity: 1; }
    .projects-slider__button_prev:before {
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg); }
  .projects-slider__buttons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 69%;
    right: 0; }
  .projects-slider__content {
    width: 26%; }
  .projects-slider__message {
    font-weight: 600;
    opacity: .5;
    line-height: 1.5;
    margin-bottom: 20px; }
  .projects-slider__slides {
    width: 65%;
    position: relative;
    height: 550px; }
  .projects-slider__text {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 35px; }

.website-link {
  font-size: 18px;
  font-weight: bold;
  color: #2d75cc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .website-link:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #2d75cc;
    -webkit-mask-image: url("/src/images/icons/link.svg");
    mask-image: url("/src/images/icons/link.svg");
    margin-right: 22px; }

.proverb__author {
  color: #fff;
  font-style: italic; }

.proverb__message {
  margin-bottom: 35px;
  color: #fff;
  opacity: .2; }

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #414c63;
  margin-right: 25px;
  outline: none; }
  .reviews__button:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: url("/src/images/icons/arrow-down.svg") center/contain no-repeat;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .reviews__button_prev:before {
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg); }

.reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px; }

.reviews__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 30px; }

.reviews__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.reviews__content-item {
  padding-right: 20px; }

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .skill__item {
    position: relative;
    width: 170px;
    height: 170px;
    font-weight: 600; }
    .skill__item:before {
      content: "";
      position: absolute;
      background: url("/src/images/content/ellipse.png") left/contain no-repeat;
      display: block;
      height: 100%;
      bottom: 42%;
      width: 100%;
      left: -34%;
      z-index: 20; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socials__circles .socials__item {
    border: 1px solid #414c63;
    border-radius: 50px;
    margin-right: 15px;
    width: 50px;
    height: 50px; }
  .socials__circles .socials__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  .socials__circles .socials__icon {
    position: absolute;
    width: 20px;
    height: 16px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.socials__item {
  margin-right: 40px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.testimonial {
  position: relative;
  padding-left: 25%; }
  .testimonial:before {
    content: "";
    display: block;
    height: 30%;
    width: 15%;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/src/images/icons/quote.svg") center/contain no-repeat; }
  .testimonial__text {
    margin-bottom: 30px;
    color: #414c63;
    font-weight: 600;
    line-height: 1.8;
    opacity: .5; }
