script(type="text/x-template")#slider-container
    .projects-slider
        display(
            :works="works"
            :current-work="currentWork"
            :current-index="currentIndex"
            @slide="handleSlide"
            @hover="handleHover"
        )
        info(
            :current-work="currentWork"
        )

script(type="text/x-template")#slider-display
    .projects-slider__slides(:data-slide="currentIndex + 1")
        .projects-slider__slide
            transition(name="slide-fade")
                img(:src="currentWork.photo").projects-slider__main
            thumbs(
                :works="works"
                :current-work="currentWork"
                :current-index="currentIndex"
                @slide="handleSlide"
                @hover="handleHover"
            )
            btns(
                @slide="handleSlide"
                :currentWorkId="currentWork.id"
                :worksLength="works.length"
            )

script(type="text/x-template")#slider-thumbs
    ul.projects-slider__other-slides(
        :style="{transform: `translateY(-${translate}%)`}"
    )
        li.projects-slider__others-item(
            v-for="work, index in works" 
            :key="work.id"
            :class="{active: work.id === currentWork.id }"
        )
            a.projects-slider__others-link(@mouseenter="$emit('hover', 'enter')", @mouseleave="$emit('hover', 'leave')", @click.prevent="$emit('slide', index)")
                img(:src="work.photo" alt="")

script(type="text/x-template")#slider-btns
    .projects-slider__buttons
        a(ref="#" @click.prevent="$emit('slide', 'next')" :class="{disabled: currentWorkId === worksLength}").projects-slider__button.projects-slider__button_next
        a(href="#" @click.prevent="$emit('slide', 'prev')" :class="{disabled: currentWorkId === 1}").projects-slider__button.projects-slider__button_prev

script(type="text/x-template")#slider-info
    .projects-slider__content
        tags(
            :tagsArray="tagsArray"
        )
        .projects-slider__text {{currentWork.title}}
        .projects-slider__message
            p {{currentWork.desc}}
        .projects-slider__website-link
            a(:href="currentWork.link").website-link Посмотреть сайт

script(type="text/x-template")#slider-tags
    ul.links
        li.links-item(v-for="tag in tagsArray" :key="tag")
            .link {{tag}}




