script(type="text/x-template")#slider-container
  section.works#works
    .container.works__container
      .works__content-wrapper
        h2.title.title--works.works__title Мои работы
        .works__content
          .works-slider(v-if="works.length")
            display(
              :works="works",
              :currentWork="currentWork",
              :currentIndex="currentIndex"
              @slide="handleSlide"
              @hover="handleHover"
            )
            info(
              :currentWork="currentWork"
            )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="currentIndex + 1")
    .works-slider__pics-content
      .works-slider__fullpic-container
        transition(name="slide-fade")
          img(v-if="show" :src="currentWork.photo").works-slider__fullpic
        btns(
          :worksLength="works.length"
          :currentWorkId="currentWork.id"
          @slide="handleSlide"
        )
        thumbs(
          :works="works"
          :currentIndex="currentIndex"
          @slide="handleSlide"
          @hover="handleHover"
        )

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    a(href="#" @click.prevent="$emit('slide', 'next')" :class="{disabled: currentWorkId === worksLength}").works-slider__btn.works-slider__btn_next
    a(href="#" @click.prevent="$emit('slide', 'prev')" :class="{disabled: currentWorkId === 1}").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-thumbs
  .works-slider__thumbs-inner
    ul.works-slider__thumbs(
      :style="{transform: `translateY(-${translate}%)`}"
    )
      li.works-slider__thumb-item(
        v-for="work, index in works" :key="work.id"
        :class="{active: currentIndex === index}"
      )
        a.works-slider__thumb-link(@mouseenter="$emit('hover', 'enter')", @mouseleave="$emit('hover', 'leave')", @click.prevent="$emit('slide', index)")
          img(alt="" :src="work.photo").works-slider__thumb

script(type="text/x-template")#slider-info
  .works-slider__data
    tags(
      :tagsArray="tagsArray"
    )
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.description}}
    .works-slider__link 
      a(:href="currentWork.link").iconed-link {{currentWork.link}}

script(type="text/x-template")#slider-tags
  ul.works-slider__tags
    li.works-slider__tag-item(v-for="tag in tagsArray")
      .tag {{tag}}